-server
-Xmx4g
-Xms4g

-XX:+PrintGCDetails
-XX:+PrintGCDateStamps
-XX:+PrintGCApplicationStoppedTime
-XX:+UseGCLogFileRotation
-XX:NumberOfGCLogFiles=5
-XX:GCLogFileSize=100M
-Xloggc:./gc-wagon.log
-XX:+HeapDumpOnOutOfMemoryError

-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Dlog4j.configurationFile=file:conf/log4j2.xml

-Dcom.sun.management.jmxremote.port=17072
-Dcom.sun.management.jmxremote.rmi.port=17072
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-Djava.rmi.server.hostname=${IP_ADDR}

-Djava.net.preferIPv4Stack=true
